@import url("../../index.css");

.board-container {
  display: flex;
  width: 80vw;
}

.board-title {
  position: relative;
  font-size: 3em;
}

.edit-button {
  width: 1em;
  height: auto;
  position: absolute;
  top: .1em;
  right: -1.25em;
}

.edit-button:hover {
  cursor: pointer;
  border: .05em solid transparent;
}