@import url("../../index.css");

.board-container {
  display: flex;
  width: 92vw;
  background-color: hsla(0, 0%, 0%, 0.3);
  border-radius: 2rem;
  margin: auto;
  height: 84vh;
  display: flex;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-container {
  background-color: hsl(0, 0%, 91%);
  width: max-content;
  height: max-content;
  border-radius: 1rem;
  width: 20rem;
  margin: 1rem;
}

.add-card {
  margin-top: .5rem;
  margin-left: 1rem;
  background-color: hsl(0, 0%, 91%);
  width: 20rem;
  height: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-card:hover {
  background-color: lightblue;
  cursor: pointer;
}

.add-column {
  background-color: hsl(0, 0%, 91%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 20rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 1rem;
}

.add-column:hover {
  background-color: lightblue;
  cursor: pointer;
}

.card-desc {
  background-color: white;
  min-height: 3rem;
  padding-top: .25rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.card-desc:hover{
  cursor: pointer;
}

.card-tag {
  margin-left: 1rem;
  background-color: green;
  color: white;
  width: fit-content;
  padding: 0 1rem;
  border-radius: 1rem;
}

.card-todo {
  margin-left: 1rem;
  margin-top: .25rem;
}